@import "../../assets/styles/variables";

.header {
    background: $black;
    width: 100%;
    display: flex;
    padding: 15px 20px;

    &__logo {
        margin: 0 10px 0 0;
        &:hover,
        &:active,
        &:focus {
            opacity: 0.5;
        }

        &__img {
            width: 20px;
            display: block;
        }
    }
}

.navigation {
    display: block;
}
@media only screen and (min-width: 576px) {
}
