// Colours
$black:                     #242D38;
$dark-grey:                 #6C7988;
$light-grey:                #A1A9B5;
$lighter-grey:              #EEEEEE;
$white:                     #FFFFFF;

// Fonts
$font-family-base:          "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-monospace:      SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$font-weight-regular:        400 !default;
$font-weight-semibold:       600 !default;

$font-size-base:             1rem !default; // 16px
$line-height-base:           1.4 !default; // 21px
